<!-- home.html -->
{{define "content"}}
    <!-- Chat App Home -->
    <div id="chatHomeRoot" class="chat-home-root-wrapper container h-100">
        <div class="row chat-home-wrapper">
            
            <!-- LEFT ICONS -->
            <div class="col-1 left-icon-wrapper">
                <!-- Left side icons will add here... -->
            </div>

            <!-- CHATS AND BODY -->
            <div class="col-8">
                <div class="h-100 middle-chat-wrapper">
                    <div class="row h-100">
                        <!-- ALL CHAT USERS SECTION -->
                        <div class="col-5 chat-selection-wrapper">
                            <div class="chat-selection-sub-wrapper">
                                <!-- USERS LIST -->
                                {{range .Users}}
                                    <div class="select-chat-user-wrapper">
                                        <div class="chat-user" user-email="{{.Email}}" name="{{.Name}}" full-name="{{.FullName}}" last-online="{{.LastOnline}}" >
                                            <img src="./static/img/{{.Picture}}" alt="Profile Image">
                                            <div class="user-info">
                                                <span class="person-name">{{.FullName}}</span>
                                                <span class="last-online">{{.LastOnline}}</span>
                                            </div>
                                        </div>
                                    </div>
                                {{end}}
                            </div>
                        </div>
                        <!-- SELECTED CHAT CONTENT -->
                        <div class="col-7 selected-chat-wrapper">
                            <div class="selected-user-wrapper">
                                <div class="selected-user-info">
                                    <img src="" alt="Profile Image">
                                    <div class="user-info">
                                        <span class="person-name">--</span>
                                        <span class="last-online">--</span>
                                    </div>
                                </div>
                            </div>
                            <div class="selected-sub-chat-wrapper">
                                <div class="chat-list-wrapper">
                                    <!-- All chat message will add here!! -->
                                </div>
                                
                                <!-- for typing and sending the message! -->
                                <div class="chat-input-wrapper">
                                    <input type="text" class="chat-input" placeholder="Type a message...">
                                    <button class="chat-send-btn">></button>
                                </div>
                                <!-- end -->
                            </div>
                        </div>                        
                    </div>
                </div> 
            </div>

            <!-- SELECTED PERSON INFOMATIONS -->
            <div class="col-3">
                <div class="h-100 right-person-info-wrapper"></div>
            </div>
        </div>
    </div>

    <!-- load the js -->
    <script src="./static/js/home.js"></script>
{{end}}